.contenitore{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(212, 212, 212, 0.401);
}

.grafico{
    width: 70%;
    padding-top:30px;
    padding-bottom: 37px;
    
}

.testo{
    display: grid;
    width: 30%;
    grid-template-rows: 35% 40% 15% 10% ;
}

h1{
    display: flex;
    align-items: flex-end;
    font-size:40px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    margin-right: 20px;
    grid-row: 1;
}


.descrizione{
    font-size:22px;
    text-align: center;
    margin:0px 35px;
    line-height: 1.2;
    grid-row: 2;

}

.pulsanti{
    display: flex;
    justify-content: center;
    height: auto;
    grid-row: 3;
}

.warning{
width: 100%;
grid-row: 4;
display: flex;
justify-content: center;

color:#575757;

}

button:not(:disabled){
    background-color: #168801f5;
    color: white;
}
button:disabled{                                    
    cursor: pointer; 
    color: #575757;
}
button:hover{
    background-color: #127102f5;
}
