
<link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:wght@100..400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <div class="background"></div>
   <div class="container">
    
    <div class="descrizione">
        <div class="testo">
            <img class="scritta" src="/soloscrittablu.png" alt="scritta"> è una webapp intuitiva che consente agli utenti di trovare il proprio equilibrio e il proprio peso ideale, in base alla loro condizione fisica. <br>L'applicazione utilizza l'equazione di <br><a href="https://nutrium.com/blog/it/equazione-di-mifflin-st-jeor-per-i-professionisti-della-nutrizione/">Mifflin-St Jeor</a>. Per procedere:
        </div>
        <button mat-button class="tasto" (click)="openLoginDialog()">LOGIN</button>
    </div>

    

    <div class="cards">
        
       
            <h3>Scopri come gestire i gestire i tuoi macronutrienti!</h3>
    
        <div class="card">
            <img src="carboidrati.jpg" alt="Pizza">
            <h3>Carboidrati</h3>
            <p>Energia per la tua giornata: il carburante principale del corpo.</p>
        </div>

        <div class="card">
            <img src="grassi.jpg" alt="Olio di oliva">
            <h3>Lipidi</h3>
            <p>Importante riserva energetica per il tuo corpo.</p>
        </div>
        <div class="card">
            <img src="proteine.jpg" alt="Alimenti proteici">
            <h3>Proteine</h3>
            <p>Essenziali per la costruzione e il mantenimento del tuo corpo.</p>
        </div>
    </div>
</div>





